version: "3.8"
services:
  library-database:
    build:
      context: .
    image: 'database-server:latest'
    container_name: library-database
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_JDBCURL=jdbc:postgresql://library-database-db:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_TOKENS_JDBCURL=jdbc:sqlite::memory
      - JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800000
      - JWT_EXPIRATION_TIME=300000
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ISSUER=${JWT_ISSUER}
      - SERVER_PORT=${SERVER_PORT}
    depends_on:
      - library-database-db    
  library-database-db:
    container_name: library-database-db
    image: "postgres:15"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - library-database-data:/var/lib/postgresql/data
volumes:
  library-database-data: {}  